.pricing__inner {
  padding: 120px 0px;
}
.pricing__head {
  text-align: center;
  width: 700px;
  margin: 0px auto;
  &-title {
    width: 400px;
    font-size: 36px;
    color: #000;
    margin: 0px auto 35px;
    span {
      color: $blue;
    }
  }
  &-text {
    margin-bottom: 55px;
  }
}
.pricing__variants {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -40px;
}
.variant-box {
  flex-basis: calc(33.333% - 40px);
  background-color: #fff;
  border-top: 3px solid $tomato;
  padding: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 50px;
  margin-left: 40px;
  &__title {
    font-size: 24px;
    @include f500;
    color: #000;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e8ebf0;
    margin-bottom: 30px;
  }
  &__price {
    font-size: 36px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    span {
      font-size: 16px;
    }
  }
  &__list {
    padding-left: 25px;
    margin-bottom: 25px;
    li {
      position: relative;
      line-height: 36px;
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        background-color: #c5cad4;
        border-radius: 50%;
        position: absolute;
        left: -23px;
        top: 15px;
      }
    }
    a {
      color: #000;
      @include f500;
      position: relative;
      span {
        color: #555;
        cursor: default;
      }
      &::after {
        content: "\e87d";
        font-family: "Linearicons-Free";
        font-size: 18px;
        position: absolute;
        right: -25px;
      }
    }
  }
  .variant-box__btn {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: $tomato;
    font-size: 18px;
    line-height: 28px;
    @include f500;
    padding-top: 12px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #fff;
      color: $tomato;
    }
  }
}

.variant-box.box-blue {
  border-top: 3px solid $blue;
  .variant-box__btn {
    background-color: $blue;
    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}
.variant-box.box-yellow {
  border-top: 3px solid #feb71d;
  .variant-box__btn {
    background-color: #feb71d;
    &:hover {
      background-color: #fff;
      color: #feb71d;
    }
  }
}
