@import "vars";
@import "global";
@import "fonts";

//header start

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding-left: 10px;
  .header__invite-btn {
    margin-left: auto;
    margin-right: 45px;
    border-radius: 25px;
    background-color: $blue;
    padding: 6px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    width: 142px;
    height: 37px;
    text-align: center;
  }
  .header__top-btn {
    background-color: $blue;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    margin-left: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 28px;
    height: 37px;
    text-align: center;
  }
}
.header__menu {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 35px;
    }
    a {
      text-transform: uppercase;
      color: #333;
      @include f500;
    }
  }
}
.header__search-form {
  max-width: 360px;
  width: 100%;
  position: relative;
  input {
    display: block;
    width: 100%;
    border-radius: 25px;
    height: 45px;
    outline: none;
    padding: 0px 80px 0px 20px;
    border: 1px solid rgb(217, 223, 229);
  }
  button {
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $blue;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 27px;
  }
}

//header end

//START product menu
.product__menu {
  background-color: #2a4dcf;
  padding-top: 175px;
  padding-bottom: 225px;
}
.product__menu-inner {
  text-align: center;
  color: #f3f3f8;
  position: relative;
}
.product__menu-title {
  font-size: 60px;
  line-height: 70px;
  max-width: 910px;
  margin: 0 auto;
  @include f700;
  margin-bottom: 45px;
  span {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    max-width: 550px;
  }
}
.product__menu-text {
  font-size: 20px;
  margin-bottom: 65px;
}
.product__menu-btn {
  a {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    line-height: 36px;
    padding: 8px 28px;
    outline: none;
    & + a {
      margin-left: 30px;
    }
    &.active {
      background-color: #fff;
      color: $blue;
    }
  }
}

.product__menu-search {
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: -290px;
  left: 15px;
  z-index: 1;
  &:before {
    content: "";
    width: 1110px;
    height: 50px;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    bottom: 100px;
    right: 18px;
    border-radius: 10px;
  }
  &:after {
    content: "";
    width: 1080px;
    height: 50px;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    bottom: 110px;
    right: 33px;
    border-radius: 10px;
    z-index: -1;
  }
  .product__search-box {
    padding: 40px 40px;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    &:before {
      content: "\e874";
      font-family: "Linearicons-Free";
      font-size: 12px;
      position: absolute;
      color: #333;
      right: 315px;
      top: 54px;
      cursor: pointer;
    }
    .menu-search {
      max-width: 610px;
      width: 100%;
      padding: 20px 50px 20px 30px;
      border: 1px solid #dcdcdc;
      outline: none;
    }
    .product__menu-categories {
      max-width: 195px;
      width: 100%;
      padding: 20px 50px 20px 30px;
      border: 1px solid #dcdcdc;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -5px;
      outline: none;
      cursor: pointer;
      color: $text;
    }
    button {
      margin-left: 30px;
      max-width: 222px;
      width: 100%;
      padding: 20px 65px 20px 60px;
      background-color: $blue;
      color: #fff;
      border: none;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
    }
  }
}
//product menu END
//START menu info
.menu__info {
  background-color: #fff;
  padding: 185px 0px 125px;
}
.menu__info-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__info-box {
  width: 365px;
  height: 405px;
  text-align: center;
  &:hover {
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  .menu__info-icons {
    padding: 40px 0px 30px;
  }
  .menu__info-title {
    color: #000;
    font-size: 24px;
  }
  .menu__info-text {
    max-width: 305px;
    margin: 0 auto;
    padding: 30px 0px 50px;
  }
}
//menu info END
//START featured__product
.featured__product {
  padding: 120px 15px;
}
.featured__product-inner {
  position: relative;
}
button {
  font-family: "Linearicons-Free";
  background-color: #7347c1;
  color: #fff;
  border: none;
  padding: 16px 40px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  &.slick-arrow {
    font-size: 0;
  }
  &.slick-next {
    position: absolute;
    top: -130px;
    right: 30px;
    &::before {
      content: "\e876";
      font-size: 14px;
    }
  }
  &.slick-prev {
    position: absolute;
    top: -130px;
    right: 80px;
    &::before {
      content: "\e875";
      font-size: 14px;
    }
  }
}
.featured__product-title {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 30px;
  color: #000;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}
.product__item {
  &.product__item-slider {
    width: 100%;
    height: 450px;
    .product__item-content {
      display: flex;
      padding: 50px 50px 0px 50px;
      border-bottom: none;
    }
    .product__item-title {
      font-size: 24px;
      padding: 0;
    }
    .product__item-img {
      width: 560px;
      height: 450px;
      float: left;
      .product__menu-btn {
        visibility: hidden;
        top: 45%;
        left: 25%;
        opacity: 0;
        transition: 0.5s opacity, 0.5s visibility;
        a {
          text-align: center;
          font-size: 15px;
          line-height: 36px;
          padding: 4px 28px;
        }
      }
    }
    .product__item-img:hover {
      .product__menu-btn {
        visibility: visible;
        opacity: 1;
      }
    }
    .item-content-box {
      width: 490px;
    }
    .product__item-box {
      border-top: 1px solid #ececec;
      position: relative;
      padding: 15px;
      a {
        margin-left: 20px;
      }
    }
    .product__item-price {
      background-color: $blue;
      color: #fff;
    }
    .rate-star {
      margin: 0;
      position: absolute;
      right: 0px;
      padding-top: 4px;
    }
    ul.tag-list {
      margin-bottom: 45px;
      li {
        display: inline-block;
        background-color: #f1f3f6;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px;
        a {
          color: #8d939c;
          outline: none;
        }
      }
    }
  }
}
// featured__product END
/////item

.product__item {
  width: 365px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border: 1px solid #f0f2f6;
  border-radius: 4px;
  &-img {
    min-height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    .product__menu-btn {
      visibility: hidden;
      position: absolute;
      top: 40%;
      left: 10%;
      opacity: 0;
      transition: 0.5s opacity, 0.5s visibility;
      a {
        text-align: center;
        font-size: 15px;
        line-height: 36px;
        padding: 2px 28px;
        & + a {
          margin-left: 10px;
        }
      }
    }
  }
  &-img:hover {
    .product__menu-btn {
      visibility: visible;
      opacity: 1;
    }
  }
  &-title {
    padding-top: 30px;
    font-size: 20px;
    @include f500;
    color: #000;
    margin-bottom: 18px;
  }
  &-text {
    margin-bottom: 35px;
  }
}
.product__item-content {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ececec;
}
.product__item-text {
  &:after {
    content: "";
    border: 1px solid #ececec;
  }
}
.product__item-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 27px;
  position: relative;
  .product__item-author {
    display: flex;
    align-items: center;
    color: #000;
    span {
      padding-right: 20px;
      padding-left: 7px;
    }
  }
  span.technology-name {
    position: absolute;
    top: 3px;
    padding-left: 7px;
  }

  .avatar-author {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .avatar-technology {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
  }
}
.product__item-box {
  padding: 20px 30px;
  display: flex;
  text-align: center;
  .product__item-price {
    color: $blue;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 15px;
    @include f500;
    background-color: #e6f1fd;
    border-radius: 25px;
  }
  .lnr-heart {
    color: #7f4ec2;
    font-size: 15px;
    font-family: "Linearicons-Free";
    padding-left: 15px;
    span {
      color: #8c97a4;
      padding-left: 6px;
    }
  }
  .lnr-cart {
    font-size: 15px;
    color: $blue;
    font-family: "Linearicons-Free";
    cursor: pointer;
    outline: none;
  }
}
.rate-star {
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
}
