@import "vars";
@import "global";
@import "fonts";
@import "release";
@import "followers";
@import "facts";
@import "advantages";
@import "invite";
@import "feedback";
@import "news";
@import "support";
@import "join";
@import "footer";
@import "category-page";
@import "404-page";
@import "contact-page";
@import "blog-page";
@import "pricing-page";
@import "howitworks-page";
@import "login-page";

//header start
.header {
  position: relative;
}
.header__logo-media {
  display: none;
}
.header__btn-menu {
  display: none;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding-left: 10px;
  .header__invite-btn {
    margin-left: auto;
    margin-right: 45px;
    border-radius: 25px;
    background-color: $blue;
    padding: 6px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    width: 142px;
    height: 37px;
    text-align: center;
  }
  .header__top-btn {
    background-color: $blue;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    margin-left: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 28px;
    height: 37px;
    text-align: center;
    width: 100px;
  }
}
.header__menu {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  li {
    display: inline-block;
    & + li {
      margin-left: 35px;
    }
    a {
      text-transform: uppercase;
      color: #333;
      @include f500;
    }
  }
}

.header__search-form {
  max-width: 360px;
  width: 100%;
  position: relative;
  input {
    display: block;
    width: 100%;
    border-radius: 25px;
    height: 45px;
    outline: none;
    padding: 0px 80px 0px 20px;
    border: 1px solid rgb(217, 223, 229);
  }
  button {
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $blue;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 27px;
    img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}
.header__box {
  display: flex;
  align-items: center;
  .circle__inner {
    display: flex;
    align-items: center;
    margin-right: 10px;
    a::before {
      font-family: "Linearicons-Free";
    }
  }
  .header__circle {
    font-size: 20px;
    text-align: center;
    color: #7e8fa1;
    margin-right: 30px;
    position: relative;
    display: none;
    &.active {
      display: inline-block;
    }
    span {
      position: absolute;
      padding: 1px 7px;
      border-radius: 25px;
      color: #fff;
      text-align: center;
      line-height: 18px;
      font-size: 14px;
      @include f500;
      right: -13px;
      top: -10px;
      background-color: $blue;
    }
  }
  .notification {
    span {
      background-color: $tomato;
    }
  }
  .message {
    span {
      background-color: $green;
    }
  }
  .basket {
    span {
      background-color: $blue;
    }
  }
  .header__top-btn--off {
    display: none;
  }
  .user {
    &__inner {
      display: flex;
      align-items: center;
    }

    &__images {
      margin-right: 20px;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
    }
    &__name {
      font-size: 16px;
      line-height: 22px;
      @include f500;
      color: #333;
    }
    &__cash {
      font-size: 15px;
      line-height: 22px;
      color: $blue;
    }
  }

  .notification__box,
  .message__box,
  .basket__box,
  .user__box {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    &:hover {
      .notification__menu,
      .message__menu,
      .basket__menu {
        height: auto;
        border-width: 1px;
        padding: 0px;
        overflow: auto;
      }
      .user__menu {
        height: auto;
        border-width: 1px;
        padding: 20px;
        overflow: auto;
        z-index: 3;
      }
      .notification__inner::before,
      .message__inner::before,
      .basket__inner::before,
      .user::before {
        content: "";
        border: 10px solid transparent;
        border-bottom: 10px solid $blue;
        position: absolute;
        top: 60px;
        right: 25px;
        bottom: 0;
      }
    }
  }
  .notification__menu,
  .message__menu,
  .basket__menu,
  .user__menu {
    width: 270px;
    padding: 0px 20px;
    top: 99px;
    right: -10px;
    background-color: #fff;
    z-index: 1;
    font-size: 15px;
    line-height: 44px;
    position: absolute;
    border-top: 0px solid $blue;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    transition: all 0.3s;
    height: 0px;
    overflow: hidden;
    li {
      a {
        border-radius: 2px;
        padding-left: 10px;
        width: 100%;
        color: #54667a;
        &:hover {
          color: #fff;
          background-color: $blue;
        }
        &::before {
          padding-right: 15px;
          font-family: "Linearicons-Free";
        }
      }
    }
  }
  .notification__menu {
    width: 370px;
    .notification__title {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e8ebf0;
      padding: 25px 20px;
    }
  }
  .message__menu,
  .basket__menu {
    width: 400px;
    .notification__title,
    .message__item,
    .message__title,
    .basket__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e8ebf0;
      padding: 25px 20px;
      span {
        line-height: 15px;
        padding: 8px 12px 6px 11px;
        text-align: center;
        background-color: #e6f1fd;
        color: $blue;
        border-radius: 25px;
        position: absolute;
        right: -70px;
        bottom: 10px;
      }
    }
    .basket__info {
      width: 190px;
      line-height: 22px;
      font-size: 16px;
      @include f500;
      color: #000;
      position: relative;
      margin-left: 15px;
      margin-right: 70px;
      button {
        font-family: "Linearicons-Free";
        position: absolute;
        right: -60px;
        top: 5px;
        width: 35px;
        height: 35px;
        background-color: #f1ecf9;
        text-align: center;
        border-radius: 50%;
        line-height: 36px;
        font-size: 15px;
        color: #818c98;
        border: none;
        outline: none;
        cursor: pointer;
      }
      &-name {
        margin-bottom: 10px;
        color: #000;
        line-height: 22px;
      }
      &-theme {
        font-size: 15px;
        color: #7347c1;
        position: relative;
        padding-left: 20px;
        img {
          position: absolute;
          left: 0;
          top: 3px;
        }
      }
    }
  }
  .basket__summ {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #000;
    line-height: 80px;
    @include f500;
    &-price {
      padding-left: 30px;
      padding-right: 25px;
    }
  }
  .basket__menu-btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    a {
      height: 60px;
      color: #fefefe;
      width: 200px;
      font-size: 15px;
      cursor: pointer;
      padding-top: 10px;
    }
    .card {
      background-color: #7347c1;
    }
    .checkout {
      background-color: $blue;
    }
  }
  .notification__item {
    height: 100px;
    align-items: center;
    position: relative;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    border-bottom: 1px solid #e8ebf0;
    padding: 25px 20px;
    img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
    }
    span {
      color: #747a86;
    }
    .notification__date {
      color: #747a86;
    }
    .notification__info {
      max-width: 300px;
      width: 100%;
      padding-left: 54px;
      margin: 0;
      position: relative;
      flex-wrap: wrap;
      &::before {
        font-family: "Linearicons-Free";
        position: absolute;
        top: 30px;
        right: -30px;
        background-color: #e6f1fd;
        color: $blue;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        padding-top: 2px;
        padding-left: 1px;
        margin: 0;
      }
    }
    .lnr-bubble::before {
      background-color: #f1ecf9;
      color: #7347c1;
      margin: 0px 0px;
    }
    .lnr-cart::before {
      background-color: #fff0f0;
      color: $tomato;
    }
    .lnr-star::before {
      color: $green;
      background-color: #effaeb;
    }
    a.notification__theme {
      color: $blue;
      display: flex;
      align-self: start;
    }
  }
  .message__item {
    height: 80px;
    align-items: center;
    position: relative;
    font-size: 15px;
    line-height: 30px;
    .notification__name,
    .message__name {
      min-width: 85px;
      max-width: 220px;
      position: relative;
      @include f500;
      color: #333;
      line-height: 20px;
    }
    img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
    }

    .message__info {
      width: 100%;
      padding-left: 50px;
      padding-top: 10px;
    }
    .message__date {
      position: absolute;
      top: 0px;
      right: 15px;
    }
    .message__theme {
      width: 270px;
      height: 30px;
      overflow: hidden;
    }
  }
  .message__item.message__unread {
    .message__name::after {
      content: "\e818";
      font-family: "Linearicons-Free";
      font-size: 15px;
      color: $blue;
    }
    .message__date {
      position: absolute;
      top: 0px;
      right: 15px;
      color: $blue;
    }
  }
  .message__item.message__read {
    .message__reply {
      padding-left: 5px;

      img {
        width: 17px;
        height: 15px;
        cursor: pointer;
        display: block;
      }
    }
  }
  .notification__title,
  .message__title {
    height: 65px;
    font-size: 18px;
    align-items: center;
    color: #000;
    a {
      font-size: 15px;
      color: $blue;
    }
  }
  .message__reply {
    img {
      width: 17px;
      height: 15px;
      cursor: pointer;
      display: none;
    }
  }
}
.header__menu {
  position: relative;
}
.header__menu {
  position: relative;
}
.header__menu-pages,
.header__menu-products,
.header__menu-wp,
.header__menu-home {
  display: flex;
  align-items: center;
  &:hover {
    .pages__menu-dropdown,
    .header__menu-dropdown {
      height: auto;
      border-width: 1px;
      padding: 20px 20px;
      overflow: auto;
    }
    a {
      span {
        color: $blue;
      }
    }
  }
}

.pages__menu-dropdown,
.header__menu-dropdown {
  background-color: #fff;
  color: #000;
  width: 270px;
  padding: 0px 20px;
  top: 80px;

  background-color: #fff;
  z-index: 1;
  font-size: 15px;
  line-height: 44px;
  position: absolute;
  border-top: 0px solid $blue;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  transition: all 0.3s;
  height: 0px;
  overflow: hidden;
  li {
    width: 230px;
    & + li {
      margin-left: 0px;
    }
    a {
      line-height: 44px;
      border-radius: 2px;
      padding-left: 10px;
      width: 100%;
      color: #54667a;
      text-transform: none;
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
}
.menu__pages-inner {
  display: flex;
  justify-content: space-between;
}
.pages__menu-dropdown {
  max-width: 1140px;
  width: 100%;
  padding: 0;
  left: 0;
  right: 0;
  .menu__pages-item {
    width: 410px;
    margin-right: 10px;
    a {
      padding: 0;
      width: 180px;
      padding-left: 5px;
      line-height: 42px;
    }
  }
  .menu__pages-item.pages__dashboard {
    width: 220px;
  }
  .pages__item-title {
    padding-left: 5px;
    line-height: 40px;
    border-bottom: 1px solid #e8ebf0;
    @include f500;
  }

  .pages__col-list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 15px;
  }
}

//header end

//START product menu
.product__menu {
  background-color: #2a4dcf;
  padding-top: 175px;
  padding-bottom: 225px;
}
.product__menu-inner {
  text-align: center;
  color: #f3f3f8;
  position: relative;
}
.product__menu-title {
  font-size: 60px;
  line-height: 70px;
  max-width: 910px;
  margin: 0 auto;
  @include f700;
  margin-bottom: 45px;
  span {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    max-width: 550px;
  }
}
.product__menu-text {
  font-size: 20px;
  margin-bottom: 65px;
}
.product__menu-btn {
  a {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    line-height: 36px;
    padding: 8px 28px;
    outline: none;
    & + a {
      margin-left: 30px;
    }
    &.active {
      background-color: #fff;
      color: $blue;
    }
  }
}

.product__menu-search {
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: -290px;
  left: 15px;
  z-index: 1;
  &:before {
    content: "";
    width: 1110px;
    height: 50px;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    bottom: 100px;
    right: 18px;
    border-radius: 10px;
  }
  &:after {
    content: "";
    width: 1080px;
    height: 50px;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    bottom: 110px;
    right: 33px;
    border-radius: 10px;
    z-index: -1;
  }
  .product__search-box {
    padding: 40px 40px;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    &:before {
      content: "\e874";
      font-family: "Linearicons-Free";
      font-size: 12px;
      position: absolute;
      color: #333;
      right: 315px;
      top: 54px;
      cursor: pointer;
    }
    .menu-search {
      max-width: 610px;
      width: 100%;
      padding: 20px 50px 20px 30px;
      border: 1px solid #dcdcdc;
      outline: none;
    }
    .product__menu-categories {
      max-width: 195px;
      width: 100%;
      padding: 20px 50px 20px 30px;
      border: 1px solid #dcdcdc;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -5px;
      outline: none;
      cursor: pointer;
      color: $text;
    }
    button {
      margin-left: 30px;
      max-width: 222px;
      width: 100%;
      padding: 20px 65px 20px 60px;
      background-color: $blue;
      color: #fff;
      border: none;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
    }
  }
}
//product menu END

//START menu info
.menu__info {
  background-color: #fff;
  padding: 185px 0px 125px;
}
.menu__info-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__info-box {
  width: 365px;
  height: 405px;
  text-align: center;
  &:hover {
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  .menu__info-icons {
    padding: 40px 0px 30px;
  }
  .menu__info-title {
    color: #000;
    font-size: 24px;
  }
  .menu__info-text {
    max-width: 305px;
    margin: 0 auto;
    padding: 30px 0px 50px;
  }
}
//menu info END

//START featured__product
.featured__product {
  padding: 120px 15px;
}
.featured__product-inner {
  position: relative;
  button {
    font-family: "Linearicons-Free";
    background-color: #7347c1;
    color: #fff;
    border: none;
    padding: 16px 40px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    &.slick-arrow {
      font-size: 0;
    }
    &.slick-next {
      position: absolute;
      top: -130px;
      right: 30px;
      &::before {
        content: "\e876";
        font-size: 14px;
      }
    }
    &.slick-prev {
      position: absolute;
      top: -130px;
      right: 80px;
      &::before {
        content: "\e875";
        font-size: 14px;
      }
    }
  }
}

.featured__product-title {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 30px;
  color: #000;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}
.product__item {
  .product__item-text {
    overflow: hidden;
    overflow: auto;
    max-height: 120px;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #623ee4b7;
    }
  }
  &.product__item-slider {
    width: 100%;
    height: 450px;
    .product__item-content {
      display: flex;
      padding: 40px 50px 0px 50px;
      border-bottom: none;
    }
    .product__item-title {
      font-size: 24px;
      padding: 0;
    }
    .product__item-img {
      max-width: 560px;
      width: 100%;
      min-height: 448px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: left;
      .product__menu-btn {
        visibility: hidden;
        top: 45%;
        left: 25%;
        opacity: 0;
        transition: 0.5s opacity, 0.5s visibility;
        a {
          text-align: center;
          font-size: 15px;
          line-height: 36px;
          padding: 4px 28px;
        }
      }
    }
    .product__item-img:hover {
      .product__menu-btn {
        visibility: visible;
        opacity: 1;
      }
    }
    .item-content-box {
      width: 490px;
    }
    .product__item-box {
      border-top: 1px solid #ececec;
      position: relative;
      padding: 15px;
      a {
        margin-left: 20px;
      }
    }
    .product__item-price {
      background-color: $blue;
      color: #fff;
    }
    .rate-star {
      margin: 0;
      position: absolute;
      right: 0px;
      padding-top: 4px;
    }
    ul.tag-list {
      margin-bottom: 45px;
      li {
        display: inline-block;
        background-color: #f1f3f6;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px;
        a {
          color: #8d939c;
          outline: none;
        }
      }
    }
  }
}
// featured__product END

//item

.product__item {
  width: 365px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border: 1px solid #f0f2f6;
  border-radius: 4px;
  &-img {
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    .product__menu-btn {
      visibility: hidden;
      position: absolute;
      top: 40%;
      left: 10%;
      opacity: 0;
      transition: 0.5s opacity, 0.5s visibility;
      a {
        text-align: center;
        font-size: 15px;
        line-height: 36px;
        padding: 2px 28px;
        & + a {
          margin-left: 10px;
        }
      }
    }
  }
  &-img:hover {
    .product__menu-btn {
      visibility: visible;
      opacity: 1;
    }
  }
  &-title {
    padding-top: 30px;
    font-size: 20px;
    @include f500;
    color: #000;
    margin-bottom: 18px;
  }
  &-text {
    margin-bottom: 35px;
  }
}
.product__item-content {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ececec;
}
.product__item-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 27px;
  position: relative;
  .product__item-author {
    display: flex;
    align-items: center;
    color: #000;
    span {
      padding-right: 20px;
      padding-left: 7px;
    }
  }
  span.technology-name {
    position: absolute;
    top: 3px;
    padding-left: 7px;
  }

  .avatar-author {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .avatar-technology {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
  }
}
.product__item-box {
  padding: 20px 20px;
  display: flex;
  text-align: center;
  .product__item-price {
    color: $blue;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 15px;
    @include f500;
    background-color: #e6f1fd;
    border-radius: 25px;
  }
  .lnr-heart {
    color: #7f4ec2;
    font-size: 15px;
    font-family: "Linearicons-Free";
    padding-left: 15px;
    span {
      color: #8c97a4;
      padding-left: 6px;
    }
  }
  .lnr-cart {
    font-size: 15px;
    color: $blue;
    font-family: "Linearicons-Free";
    cursor: pointer;
    outline: none;
  }
}
.rate-star {
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
}
// START breadcrumbs menu
.breadcrumbs-menu__inner {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.breadcrumbs__menu-title {
  width: 550px;
  color: #f3f3f8;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 50px;
  text-align: left;
}
.breadcrumbs__menu-search {
  position: relative;
  margin-bottom: 25px;
  input {
    height: 55px;
    width: 580px;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 120px;
    border: none;
    outline: none;
  }
  button {
    background-color: $blue;
    color: #fff;
    position: absolute;
    right: -2px;
    bottom: 0;
    top: 0;
    border-radius: 25px;
    border: none;
    padding: 0px 30px;
    cursor: pointer;
    outline-color: $blue;
  }
}
.breadcrumbs__list {
  margin-bottom: 10px;
  li {
    display: inline-block;
    position: relative;
    & + li {
      padding-left: 23px;
      &::before {
        content: "/";
        position: absolute;
        left: 5px;
        color: #fff;
      }
    }
    a {
      color: #fff;
      font-size: 15px;
    }
    span {
      color: #bfcad7;
      font-size: 15px;
    }
  }
}
// START conditions
.conditions {
  padding-top: 60px;
  padding-bottom: 120px;
}
.conditions__items {
  padding-bottom: 50px;
  padding-top: 40px;
}
.conditions__inner {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.conditions__item {
  &-title {
    font-size: 24px;
    color: #000;
    border-bottom: 1px solid #e8ebf0;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  &-text {
    padding-left: 30px;
    padding-right: 35px;
    margin-bottom: 50px;
    p {
      margin: 0;
    }
  }
}
// END conditions
@import "media";
